fastapi
flake8==5.0.4
flask
graphviz
gunicorn
isort[requirements]
netcal
nose
numpy
pandas
pip-tools
pre-commit
plotly
pydot
pygam
pyspark
pyspark-stubs
requests
scikit-learn
seaborn
statsmodels
sqlalchemy
sympy
uvicorn
wheel

